
<%= form_with model: @listing do |f| %> 
<%# <%= form_for :listing do |f| %> 
<div id="shadowbox">
  <%= f.label :Listing_name, class: "label" %>
<%= f.text_field :listingname, class: "input"%>

</div>
<div id="shadowbox">
    <%= f.label :Game, class: "label"%>
    <%= f.text_field :gamename, class: "input"%>

  </div>
  <div id="shadowbox">
  <%= f.label :Price, class: "label"%>
  <%= f.text_field :price, class: "input"%>
  </div>
    <div id="shadowbox">
     <%= f.label :Genre, class: "label"%>
   <%= f.text_field :genrename, class: "input"%>
    </div>
  <div id="shadowbox">
<%= f.label :cover %>
<%= f.file_field :cover %>
</div>
   <p>
        <%= f.submit class: "btn-white" %>
    </p>    
    
    
    <% end %>





