<h1> Listings </h1>

<p>
<% @listings.each do |listing| %>
<div id="shadowbox">
 <p> <%= listing.listingname %> </p>
 <p> <%= listing.gamename%> </p>
 <p>  <%= listing.genre %> </p>
  <p><%= listing.price %></p>

     
      <%# <% if admin? || author_of(listing) %> %>
<%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-sm btn-outlined btn-default" %>
   <%= link_to 'Delete', listing_path(listing),
            :confirm => 'Are you sure?', :method => :delete %>
    <% end %>





<div>
</div>
</table>



