<h1> Listings </h1>

<% if policy(Listing).new? %>
    <p><%= link_to "New listing", new_listing_path %></p>
<% end %>
<p>
<% @listings.each do |listing| %>
<div id="shadowbox">
 <p> <%= listing.listingname %> </p>
 <p> <%= listing.gamename%> </p>
 <p>  <%= listing.genre %> </p>
  <p><%= listing.price %></p>

 </div>
<% end %>
<%#     
  






<%# :id, :gamename, :listingname, :users_id, :created_at, :updated_at, :price, :status %>


<div>
</div>
</table>



