

<div id=shadowbox>
<% if @listing.cover.attached? %>
    <%= image_tag @listing.cover, width: 150 %>
    <% end %>
     <% if admin? || author_of(@listing) %>
<%= link_to "Delete", @listing.delete,  data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit", edit_listing_path(@listing) %>
<% end %>
<%# <%= link_to "Add #{@listing.gamename} to cart", line_item_path(@listing) %> 
<%= link_to "Add #{@listing.gamename} to cart", line_item_path(@listing) %> 
<%# <%= link_to "Add #{@listing.gamename} to cart", line_item_path(:id => line_item), method: :post %>  
<%# <% link_to "Add (+1)", line_item_add_path(:id => line_item), method: :post %> 
 <%# <%= button_to "Add #{@listing.gamename} to cart", '/line_items/#listing_id'  %> 
 
 <%# <%= button_to "Add #{@listing.gamename} to cart", line_items_path(:listing_id, to: @listing.id) %>
    <%# <%= button_to "Add #{@listing.gamename} to cart", 'line_items/:listing_id' %>
<%# # <%= button_to "Add #{@listing.gamename} to cart", @line_items.create %>

 </div>
 

      
   
 <%# <% if policy(@listing).destroy? %>
        <%# <%= link_to "Delete", @listing.destroy %> %> %>
    <%# <% end %> %>