

<% <div id=shadowbox> %>

<h1><%= @listing.listingname %></h1>
<h3>Price:<%= @listing.price %></h3>
<% if @listing.cover.attached? %>
    <%= image_tag @listing.cover, width: 150 %>
    <% end %>
 
<%=  button_to "Add to cart", line_item_create_path(@listing) %>
  <%# checks policy to see if user can edit or destroy %>
   <% if policy(@listing).destroy? %>
   <%= link_to "Edit", edit_listing_path(@listing) %>
  <%= button_to "Delete", @listing, :method => "delete" %>
<% end %>


</p>

 </div>
 