
<h1><%= @listing.listingname %></h1>
<h3>Price:<%= @listing.price %></h3>

<div id=shadowbox>
<% if @listing.cover.attached? %>
    <%= image_tag @listing.cover, width: 150 %>
    <% end %>
  <%= button_to "Add #{@listing.gamename} to cart", line_items_path(:listing_id => @listing.id) %>

</div>
 
 <%# <% if admin? || author_of(@listing) %>
<%# <%= link_to "Delete", @listing.delete,  data: { confirm: "Are you sure?" } %> %>
<%# <% end %> %> %>
        <%# <%= link_to "Edit", edit_listing_path(@listing) %>
   
    <%# <% if policy(@listing).destroy? %>
        <%# <%= link_to "Delete", @listing.destroy %> 
    <%# <% end %> 