<h1><%= @listing.listingname %></h1>
<h3>Price:<%= @listing.price %></h3>

<div id=shadowbox>
<% if @listing.cover.attached? %>
    <%= image_tag @listing.cover, width: 150 %>
<% end %>   
 <% if admin? || author_of(@listing) %>
<%= link_to "Delete", @listing.delete%>
<%# <%= else link to "buy now", %> 
<% end %>

    