
<%= form_for(@game) do |f| %>
  <p> 
    <%= f.label :genres %><br />
    <% for game in Game.all %>
      <%= check_box_tag "game[genre_id][]", genre.id, @game.genres.include?(genre) %>
      <%=h genre.name %><br />
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>