<%= form_with model: @game do |f| %> 

     <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
   
   <%= collection_select(:genre, :genre_id, Genre.all, :id, :thegenres) %>
    </p> 
   <p>
        <%= f.submit caption %>
    </p>
    
    <% end %>