<%= form_with(model: @post, local: true, multipart: true) do |form| %> 
<div>
    <%= form.label :game, class: "label"%>
    <%= form.text_field :game, class: "input"%>
  </div>
  <div>
  <%= form.label :price, class: "label"%>
  <%= form.text_field :price, class: "input"%>
  </div>
    <p>
     <%= form.label :genre, class: "label"%>
   <%= collection_select(:genre, :genre_id, Genre.all, :id, :thegenres) %>

    </p> 
   <p>
        <%= form.submit %>
    </p>    
    
    <% end %>





