<%= form_with model: @game do |f| %> 

     <div class="mb-6">
    <%= form.label :name, class: "label"%>
    <%= form.text_field :name, class: "input"%>
  </div>
    <p>
   <%= collection_select(:genre, :genre_id, Genre.all, :id, :thegenres) %>
    </p> 
   <p>
        <%= f.submit caption %>
    </p>
    
    <% end %>

    