<h2>Cart</h2>
<ul>

  <% @current_cart.line_items.each do |line_item| %>
    <li>Listing Name: <%= line_item.listing.gamename%> </li>
    <%# <li>Game: <%= line_item.listing.gamename %> </li>
       <li>Price: <%= line_item.listing.price %> </li> 


    
  <% end %>
</ul>


<p><%= link_to "Proceed to checkout", new_order_path %></p>
<p><%= link_to "Empty Cart", empty_cart_path %></p>
